@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-50;
  font-family: "Kosugi Maru", sans-serif;
  background-size: contain;
  min-height: 100svh;
  min-width: 100svw;
  overflow-x: hidden;
  background: rgb(8, 8, 14);
  background: linear-gradient(
    180deg,
    rgba(14, 14, 80, 1) 0px,
    rgba(14, 14, 14, 1) 1000px
  );
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-back opacity-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-800 hover:bg-primary-600;
  @apply rounded-full;
}

.link-header {
  @apply mx-12 my-3 border-b-2 text-2xl font-bold md:mx-0 md:w-96;
  letter-spacing: 0.5em;
  font-family: "Lexend Variable", sans-serif;
}

.link-header-wide {
  @apply mx-4 my-3 border-b-2 text-2xl font-bold md:mx-0 md:w-[560px];
  letter-spacing: 0.5em;
  font-family: "Lexend Variable", sans-serif;
}
